{
	servers {
		 metrics
	}
}

{{ domain }}, *.{{ domain }} {
	tls {
		dns cloudflare {{ CF_API_TOKEN }}
	}

	@commafeed host commafeed.{{ domain }}
	handle @commafeed {
		reverse_proxy commafeed:8082
	}

	@pairdrop host pairdrop.{{ domain }}
	handle @pairdrop {
		reverse_proxy pairdrop:3000
	}

	@grafana host grafana.{{ domain }}
	handle @grafana {
		reverse_proxy grafana:3000
	}

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}
